.grid{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-highlight{
    color: white;

}
.reset{
    background-color:#ffc107;
    color: black;
    border:0.063rem solid black;
    border-radius: 8%;
    padding: .5rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
span{
    color: #ffc107;
    
}
.playagain{
    background-color:#ffc107;
    color: rgb(238, 22, 22);
    border:0.063rem solid black;
    border-radius: 8%;
    padding: .5rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
}


@media(max-width:250px){
    html{
        font-size: 10%;
    }
}
@media(max-width:400px){
    html{
        font-size: 50%;
    }
}
@media(max-width:768px){
    html{
        font-size: 80%;
    }
}